---
title: "担路公告-担路网"
layout: "detail"
isPage: "true"
scripts: ["/vendor/jquery.js", "/vendor/json2.js", "/vendor/underscore.js", "/vendor/backbone.js", "/vendor/backbone.fetch-cache.js", "/vendor/backbone-tastypie.js", "/scripts/notice-app.js"]
---


<script type="text/template" id="notice-list-tpl">
<% _.each(announcementList, function (notice) { %>
  <div class="item notice-id-<%= notice.get('id') %>">
  	<div class="notice-title"><%= notice.get('title') %></div>
  	<div class="notice-content"><%= notice.get('content') %></div>
  	<div class="notice-date"><%= notice.get('creation_date').split('T')[0] %></div>
  </div>
<% }); %>
</script>


<div class="page-content content">
	<h4>公告</h4>
	<div class="cot-box">
		<div id="notice-wrap">
		</div>
		<div id="pagination-wrap">
 		</div>

	</div>
</div>
